@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes/TT\ Lakes\ Neue\ Trial\ Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.container {
  padding: 0 16px;
}

body,
h1,
h2,
h3,
h4,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  color: #7e7e82;
  font-family: "TT Lakes", sans-serif;
}

a {
  text-decoration: none;
  color: #7e7e82;
}

h1,
h2,
h3,
h4 {
  color: #1b1c21;
}

.button--hiden {
  display: none;
}

.header__button--high-resol {
  display: none;
}

.button__text--hiden {
  display: none;
  font-size: 16px;
}

button {
  padding: 0;
  border: 0;
  background-color: white;
  transition-duration: 0.4s;
}

button:hover {
  opacity: 0.5;
  transition-duration: 0.4s;
  cursor: pointer;
}

.header__button {
  margin-right: 16px;
}

.button:last-child {
  margin-right: 0px;
}

.header {
  border: 1px #b8ffec;
  border-style: none none solid none;
  cursor: pointer;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
}

.header--underline {
  border: 1px #b8ffec;
  border-style: none none solid none;
  cursor: pointer;
}

.header-start {
  display: flex;
  align-items: center;
}

.header-end {
  border: 2px #eaeaea;
  padding-left: 20px;
  border-style: none none none solid;
  display: flex;
  align-items: center;
}

.header-end__bar-separator--hiden {
  display: none;
}

.body__title-section {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.body__title {
  font-size: 28px;
}

.body__title-decoration {
  width: 4px;
  height: 40px;
  background-color: #41f6d7;
  border-radius: 0% 100% 100% 0%;
}

.nav {
  margin-top: 24px;
}

.nav__item {
  border: 2px solid rgba(1488, 1488, 1488, 0);
}

.nav__item--hiden {
  display: none;
}

.nav__list {
  list-style-type: none;
  overflow: hidden;
  display: flex;
}

.nav__item {
  padding: 8px 20px;
  color: #7e7e82;
  font-size: 16px;
  white-space: nowrap;
}

.nav__item:hover {
  border: 2px solid #b8ffec;
  border-radius: 5px;
}

.nav__item:nth-child(2) {
  border: 2px solid #b8ffec;
  border-radius: 5px;
}

.about {
  margin: 24px 0 35px 0;
}

.about__button {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.about-button__text {
  font-size: 16px;
  margin-left: 8px;
}

.about-button__icon::before {
  content: url(button__image/icon__main.svg);
}

.about__image {
  width: 100%;
}

.about__text {
  overflow: hidden;
  display: block;
  max-height: 90px;
}

.header__button {
  background-color: #ff3e79;

  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 0 solid rgba(1488, 1488, 1488, 0);
}

.header__button:hover {
  background-color: #e62560;
  border-radius: 50%;
}

.header__button-menu::before {
  content: url(button__image/menu.svg);
}

.header__button-contacts::before {
  content: url(button__image/contacts.svg);
}

.header__button-support::before {
  content: url(button__image/support.svg);
}

.header__button-profile::before {
  content: url(button__image/profile.svg);
}

.header__button-request::before {
  content: url(button__image/request.svg);
}

.header__button-status::before {
  content: url(button__image/status.svg);
}

/*SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA  SATANA*/

@media screen and (min-width: 768px) {
  .container {
    padding: 16px 24px;
  }

  .header {
    border-style: none;
  }

  .about {
    display: flex;
    margin: 32px 0 40px 0;
  }

  .about__image {
    width: 50vw;
    margin-right: 25px;
  }

  .about__text {
    max-height: 160px;
    max-width: 50vw;
  }

  .header-end {
    border-style: none;
  }

  .button--hiden {
    display: inline-block;
  }

  .header-end {
    border-style: none;
  }

  .header-end__bar-separator--hiden {
    display: inline-block;
    background-color: #eaeaea;
    width: 2px;
    height: 32px;
    margin: 0 20px 0 4px;
  }
}

@media screen and (min-width: 1120px) {
  .nav__item:first-child {
    border: 2px solid #b8ffec;
    border-radius: 5px;
  }

  .nav__item:nth-child(2):not(:hover) {
    border-color: rgba(1488, 1488, 1488, 0);
  }

  .button--hiden {
    display: none;
  }

  .container {
    padding: 16px 24px;
  }

  .header__button-menu--hiden {
    display: none;
  }

  .header-end__bar-separator--hiden {
    display: none;
  }

  .nav__item--hiden {
    display: inline-block;
  }

  .header__button {
    display: none;
  }

  .header__button--high-resol {
    display: flex;
    align-items: center;
  }

  .header__button--high-resol:hover {
    opacity: 0.5;
    transition-duration: 0.4s;
  }

  .header__icon--high-resol {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff3e79;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 0 solid rgba(1488, 1488, 1488, 0);
  }

  .header__icon-reques--high-resol {
    margin-right: 32px;
  }

  .header__icon-reques--high-resol::before {
    content: url(button__image/request.svg);
  }

  .header__icon-status--high-resol::before {
    content: url(button__image/status.svg);
  }

  .button__text--hiden {
    display: block;
    margin-right: 8px;
    color: #1b1c21;
  }

  .logo {
    display: none;
  }



  .body__title-section {
    margin-top: -73px;
  }

  .nav__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1500px) {
   .container {
    padding: 16px 80px;
  }
}
